.simply-countdown {
	overflow:hidden;
	display:table;
	font-family:'Work Sans',sans-serif;
	margin: auto;
}
.simply-countdown>.simply-section {
	width:40px;
	height:40px;
	padding:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	float:left;
	margin:5px;
	background: rgba(160, 8, 8, 0.575);
	box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	border-radius: 50%;
	
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown >.simply-section .simply-word {
	display:block;
	text-align:center;
	font-size: 1.2rem;
}

